<h1>ツイート内容</h1>

<p><span>投稿者: </span><%= link_to @user.user_name, user_path(@user.id) %></p>
<p><span>タイトル: </span><%= @tweet.title %></p>
<p><span>ツイート内容: </span><%= @tweet.body %></p>

<% @tweet.comments.each do |comment| %>
  <th>
  <p><span>コメント: </span><%= comment.content %></p>
<% end %>