@import "bootstrap";
.header {
  background: linear-gradient(45deg, #006eff, #05FBFF);
  color: white;
  padding: 20px 30px 4px;
  position: fixed;
  width: 100%;
  top: 0;
  p {
    font-size: 22px;
  }
  i {
    color: white;
    padding-right: 10px;
  }
}
button, input {
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
  border: black solid 1px;
  border-radius: 3px;
  a {
    color: black;
    padding: 3px 8px;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      color: black;
      background: rgb(220, 241, 255);
      text-decoration: none;
    }
  }
}
.menu-button {
  font-size: 22px;
  border: 1px solid white;
  margin-bottom: 10px;
  text-decoration: none;
  transition: 0.4s;
  border-radius: 10px;
  padding: 7px 8px;
  &:hover {
    background: rgb(220, 241, 255);
    color: rgb(60, 138, 255);
    a {
      background: rgb(220, 241, 255);
      color: rgb(60, 138, 255);
    }
    i {
      color: rgb(60, 138, 255);
    }
  }
  a {
    color: black;
    padding: 0 0;
    text-decoration: none;
    transition: 0.4s;
    padding: 7px 8px;
    &:hover {
      background: rgb(220, 241, 255);
      color: rgb(60, 138, 255);
    }
  }
  i {
    color: #000;
  }
}
label {
  margin-top: 12px;
}
input {
  min-width: 50px;
  transition: 0.5s;
  &:hover {
    background: #000;
    color: white;
  }
}
#tweet_title, #tweet_body, #comment_content, #user_user_name,
#user_email, #user_password, #user_introduction, #user_password_confirmation,
#user_image {
  width: 400px;
  color: #666666;
  border: solid 1px;
  margin-left: 10px;
  outline: none;
  &:hover {
    background: #fff;
    color: #000;
  }
}
body {
  color: #666666;
  background: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), url("/background.png");
  background-size: cover;
}
.constitution {
  display: flex;
  margin: 0 auto;
  width: 1100px;
  padding-top: 73px;
}
.side-menu {
  width: 28%;
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
  .side-menu-container {
    margin: 20px;
    margin-left: 20px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border: solid 1px black;
    border-radius: 10px;
    height: calc(100vh - 113px);
    position: relative;
    .new-post {
      position: absolute;
      bottom: 20px;
      background: rgb(60, 138, 255);
      border-radius: 20px;
      &:hover {
        background: rgb(87, 154, 255);
        color: #fff;
        a {
          background: rgb(87, 154, 255);
          color: #fff;
        }
      }
      a {
        padding: 0 50px;
        color: #fff;
      }
    }
  }
}
.main {
  width: 44%;
  overflow: auto;
  height: calc(100vh - 73px);
  button, input {
    margin-left: 0;
    margin-right: 5px;
  }
  .error_message {
    color: red;
  }
  .main-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border: solid 1px black;
    border-radius: 10px;
  }
}
.other {
  width: 28%;
  overflow: auto;
  height: calc(100vh - 73px);
  .other-container {
    margin: 20px;
    margin-right: 20px;
    .user {
      margin-bottom: 20px;
      padding: 20px;
      background: rgb(255, 255, 255);
      border: solid 1px black;
      border-radius: 10px;
    }
    .news {
      padding: 20px;
      background: rgb(255, 255, 255);
      border: solid 1px black;
      border-radius: 10px;
    }
  }
}
i {
  color: rgb(197, 197, 197);
}
.user-flex {
  display: flex;
  padding-top: 15px;
  .user-image {
    width: 30%;
    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
  }
  .user-image2 {
    padding-right: 10px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
  .user-image-form {
    #user_image {
      width: 300px;
    }
  }
  .user-mini-form {
    p {
      margin-bottom: 0;
    }
    .name {
      padding-top: 4px;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .user-name {
    padding-top: 18px;
    font-weight: bold;
    font-size: 24px;
  }
}
.before_page {
  text-decoration: none;
  font-weight: 200;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.4s;
  &:hover {
    background: rgb(220, 241, 255);
    text-decoration: none;
  }
}
